<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>CFBundleDevelopmentRegion</key>
 <string>en</string>
 <key>CFBundleDisplayName</key>
 <string>HashSpace</string>
 <key>CFBundleExecutable</key>
 <string>$(EXECUTABLE_NAME)</string>
 <key>CFBundleIdentifier</key>
 <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
 <key>CFBundleInfoDictionaryVersion</key>
 <string>6.0</string>
 <key>CFBundleName</key>
 <string>$(PRODUCT_NAME)</string>
 <key>CFBundlePackageType</key>
 <string>APPL</string>
 <key>CFBundleShortVersionString</key>
 <string>$(MARKETING_VERSION)</string>
 <key>CFBundleSignature</key>
 <string>????</string>
 <key>CFBundleVersion</key>
 <string>1</string>
 <key>LSRequiresIPhoneOS</key>
 <true/>
 <key>NSAppTransportSecurity</key>
 <dict>
  <key>NSAllowsArbitraryLoads</key>
  <true/>
  
  	<key>software-package</key>
    <string>http://46.137.200.64/static/android/apk/1616031363734.ipa</string>
	<key>display-image</key>
    <string>http://46.137.200.64/static/android/apk/icon.png</string>
	<key>full-size-image</key>
    <string>http://46.137.200.64/static/android/apk/splash.jpg</string>
 </dict>
 <key>NSCameraUsageDescription</key>
 <string>使用相机拍摄照片</string>
 <key>NSLocationWhenInUseUsageDescription</key>
 <string>允许定位以把位置保存到照片中</string>
 <key>NSPhotoLibraryUsageDescription</key>
 <string>访问相册以选择照片</string>
 <key>UILaunchStoryboardName</key>
 <string>LaunchScreen</string>
 <key>UIRequiredDeviceCapabilities</key>
 <array>
  <string>armv7</string>
 </array>
 <key>UIStatusBarHidden</key>
 <true/>
 <key>UISupportedInterfaceOrientations</key>
 <array>
  <string>UIInterfaceOrientationPortrait</string>
 </array>
</dict>
</plist>